$bgColor: #0137A1;
$bgDark: #001271;
*{box-sizing: border-box}
html, .page{
	min-height: 100%;
	height: 100%;
}

.hidden{display: none}
.visible{display: block}

.wrapper{
	background: $bgColor url(../img/bg.jpg) top center / cover no-repeat fixed;
	min-height: 100%;
	height: auto;
	position: relative;
}
.header{
	width: 100%;
	height: 125px;
	z-index: 10;
    position: relative;
}
.content{
	position: relative;
	color: #fff;
	padding: 20px 30px;
	font-size: 12px;
	.greeting{
		font-style: italic;
		@extend .text-center;
		.director{
			width: 20%;
			border: 1px solid #fff;
		}
		h1{
			font-weight: bold;
			font-size: 14px;
			@extend .text-uppercase;
		}	
	}
}

.footer{
	height: 100px;
	margin-top: -100px;
	position: relative;
}

.overlay{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&:after{
		content: "";
		background: url(../img/bg.jpg) top center / cover no-repeat;
		width: 110%;
		height: 100%;
		position: absolute;
		filter: blur(10px);
		left: -5%;
	}
}

.logo{
	.fil0 {fill:rgba(229,233,237,0.3)}
	.fil1 {fill:#fff;fill-rule:nonzero}
	.fil2 {fill:#fff}
}

.restaurant{
	width: 100%;
	&__item{
		svg{
			width: 100%;
			height: 50px;
		}
		display: block;
		float: left;
		width: 36%;
		&:last-child{width: 28%}
	}
}

.preloader{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	&__wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		span{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			border-radius: 50%;
			&:first-child{
				width: 95px;
				height: 95px;
				filter: blur(5px);
			}
			&:nth-child(2){
				width: 95px;
				height: 95px;
				border: 4px solid #fff;
				border-top: 4px solid transparent;
				animation: spin-2 2s infinite linear;
			}
			&:last-child{
				width: 85px;
				height: 85px;
				border: 4px solid #fff;
				border-top: 4px solid transparent;
				border-radius: 50%;
				animation: spin-1 2s infinite linear;
			}
		}
	}
}

.button{
	color: #fff;
	@extend .text-uppercase;
	font-style: normal;
	padding: 7px 25px;
	border: 1px solid #fff;
	border-radius: 4px;
	text-decoration: none;
	&:visited, &:hover, &:active{
		color: #fff;
		text-decoration: none;
		background: rgba(0,0,0,.5);
	}
}

.toolbar{
	@include container-fixed;
	background: $bgDark;
	width: 100%;
	height: 50px;
	position: relative;
	z-index: 10;
	overflow: hidden;
	.toolbar-wrapper{
		@include make-row;
		.user-info{
			@include make-xs-column(6);
			@include make-sm-column(6);
			.icon{
				margin: 10px 0;
			}
			.user{
				.avatar{
					width: 30px;
					margin: 8px 2px;
				}
				.name{color: #fff}
			}
		}
		.action{
			&__item{float: right}
			padding: 7px 0;
			@include make-xs-column(6);
			@include make-sm-column(6);
			.cart{
				position: relative;
				width: 60px;
				height: 50px;
				margin-right: 10px;
				img{width: 35px}
				span{
					font-size: 11px;
					width: 15px;
					height: 15px;
					position: absolute;
					background: #fff;
					border-radius: 50%;
					@extend .text-center;
					color: $bgDark;
					font-weight: bold;
					margin: 0 5px;
				}
			}
			.settings{
				position: relative;
				width: 30px;
				height: 50px;
				img{width: 35px}
			}
		}
	}
}

.sidebar{
	display: none;
	transform: translateX(100%);
	transition: transform .5s ease;
	position: absolute;
	height: 100%;
	width: 70px;
	right: -40px;
	float: right;
	top: 0;
	padding: 25px 0 25px 35px;
	&__wrapper{
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		width: 150%;
		height: 100%;
		border-top: 2px solid #fff;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		.icon{margin: 10px 0 0 10px}
	}
}

.catalog{
	@extend .clearfix;
	position: relative;
	&--right-sidebar{
		border-right: 30px solid transparent;
		.menu{
			margin-right: -100% !important;
			float: left;
			width: 100%;
		}
		.sidebar{
			display: block;
			transform: translateX(0);
			transition: transform .5s ease;
		}
	}
	.menu{
		&--catalog{
			padding: 10px 0 0 40px;
			margin: 0;
			list-style: none;
			@extend .text-uppercase;	
			&__item{
				@extend .clearfix;
				a{
					.icon{
					    margin-right: 20px;
					    margin-left: -56px;
					}
					display: inline-block;
					padding: 0;
					&:link, &:visited, &:hover, &:active{
						color: #fff;
					}
				}
				font-size: 12px;
				border-bottom: 1px solid rgba(255, 255, 255, .5);
				&--parent:after{
					content: '';
					background: url(../img/arrow.png) center center / 100% no-repeat;
					width: 13px;
					height: 10px;
					display: inline-block;
					margin-left: 3px;
				}
				&:last-child{border:0}
			}
		}
	}
}

.icon{
	width: 36px;
}
.back{
	width: 15px;
	margin: 10px;
}

.page{
	&--main{
		.wrapper{padding-bottom: 100px}
	}
	&--overlay{
		.footer{border-top: 1px solid #fff}
	}
}

@keyframes spin-1 {
	0% {transform: rotate(360deg)}
	50% {transform: rotate(180deg)}
	100% {transform: rotate(0deg)}
}
@keyframes spin-2 {
	0% {transform: rotate(0deg)}
	50% {transform: rotate(180deg)}
	100% {transform: rotate(360deg)}
}